<component name="libraryTable">
  <library name="springframework.spring.jcl" type="repository">
    <properties maven-id="org.springframework:spring-jcl:5.2.6.RELEASE" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.2.6.RELEASE/spring-jcl-5.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>